<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PuzzleWYJ.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8365F2DB1D9E06C4008E0F43</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8365F2F41D9E06C4008E0F43</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8365F2FF1D9E06C4008E0F43</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
